doctype html
html
	head
		meta(http-equiv='Content-Type', content='text/html; CHARSET=UTF-8')
		title HereThings
		include ../common/includes/google-analytics.jade
	body.home
		.content
			include ../common/includes/services.jade
