doctype html
html
	head
		meta(http-equiv='Content-Type', content='text/html; CHARSET=UTF-8')
		title HereSketch
	body.sketch
		.content
			canvas#contentBox(width='600', height='600')
			#contentBoxInner sketch here
			#contentBoxOverlay
			include ../common/includes/footer.jade
			include ../common/includes/services.jade
		#linkPointer
