doctype html
html
	head
		include ../common/includes/head.jade
		title HereSketch
	body.sketch
		.content
			canvas#contentBox(width='600', height='600')
			#contentBoxInner sketch here
			#contentBoxOverlay
			include ../common/includes/footer.jade
			include ../common/includes/services.jade
		#linkPointer
