doctype html
html
	head
		meta(http-equiv='Content-Type', content='text/html; CHARSET=UTF-8')
		title HereSketch
	body.sketch
		.content
			canvas#contentBox(width='600', height='600')
			#contentBoxInner sketch here
			#contentBoxOverlay
			.doneButton
			.doneButtonFootnote
				span.smiley
				span.showsText shows for 3 days
				span.moreExpander(onclick="$('#serviceContent').fadeToggle(140)")
			include ../common/templates/services.jade
		#linkPointer
