doctype html
html
	head
		include ../common/includes/head.pug
		title HereShown
	body.shown
		.content
			#content-inner
				canvas#contentBox(width='600', height='600')
					audio#recording(loop)
				#recordButton(onclick='shownApp.toggleRecording()')
				#contentBoxInner2 start mic recording, then sketch here
				#contentBoxOverlay
				include ../common/includes/done-footer.pug
			include ../common/includes/services.pug
		#linkPointer
