@require '../common/common.styl'

#recordButton
	top 514px
	opacity .85

#contentBoxInner
	top 524px
	left 210px
	width 45px
	height 53px
	background-image url(../common/image/spritesheet.png)
	background-repeat no-repeat
	background-position -352px -40px

#contentBoxInner2
	width 115px
	top 270px
	left 242px
	height 62px
	background-position 0 -229px

// TODO: Remove hax
.shifted
	top -35px !important

#recording
	position relative
	top 570px
	width 100%
