doctype html
html
	head
		include ../common/includes/head.pug
		title HereShown
	body.shown
		.content
			#content-inner
				canvas#contentBox.shifted(width='600', height='600')
				audio#recording(controls)
					source(type='audio/ogg', src='uploads/' + id + '.ogg')
				#contentBoxOverlay
				include ../common/includes/ad-footer.pug
			include ../common/includes/services.pug
