meta(http-equiv='Content-Type', content='text/html; CHARSET=UTF-8')
link(rel='stylesheet', href=page + '.min.css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
script(src=page + '.min.js')
if id
	script window.resourceID = '#{id}';
include ./google-analytics.pug
