#serviceContent
	.close(onclick="javascript:$('#serviceContent').fadeToggle(140)")
	.services
		a.icon.sketchIcon(title='Draw a sketch') HereSketch
		a.icon.snapIcon(title='Snap a pic with your webcam') HereSnap
		a.icon.clipIcon(title='Record a 10 seconds video with your webcam') HereClip
		a.icon.voiceIcon(title='Record up to 1 minute of speech') HereVoice
		a.icon.shownIcon(title='Sketch up to 1 minute while recording your voice') HereShown
	p.shareInfo
		strong
			a.hereThingsLink(href='http://herething.com') HereThings
		|  can be shared anywhere &ndash;
		|     like in comments, posts, messages, mails &ndash; with a simple link,
		|     and nicely disappear after 3 days. 
		span.terms
			| (
			a(href="javascript:$('#termsDetail').slideToggle()") info &amp; terms
			| )
		| .
	include ./terms.jade
