@require '../common/common.styl'

#recordButton
	top 262px

#contentBoxInner
	top 274px
	left 210px
	width 45px
	height 53px
	background-image url(../common/image/spritesheet.png)
	background-repeat no-repeat
	background-position -352px -40px

#recording
	width 100%
	margin 20px
